URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false

! Perl Extensions
URxvt.perl-ext-common: default,resize-font,matcher,confirm-paste,keyboard-select,selection-to-clipboard

URvxt.resize-font.smaller: c--
URvxt.resize-font.bigger: c-=

URvxt.url-launcher: /usr/bin/xdg-open
URvxt.matcher.button: 1

URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

URxvt*background:                     #2d2d2d
URxvt*foreground:                     #d3d0c8
URxvt*cursorColor:                    #d3d0c8

URxvt*scrollColor:                    #d3d3d3
URxvt*highlightColor:                 #515151
URxvt*highlightTextColor:             #a09f93

URxvt*color0:                         #2d2d2d
URxvt*color1:                         #f2777a
URxvt*color2:                         #99cc99
URxvt*color3:                         #ffcc66
URxvt*color4:                         #6699cc
URxvt*color5:                         #cc99cc
URxvt*color6:                         #66cccc
URxvt*color7:                         #d3d0c8
URxvt*color8:                         #747369
URxvt*color9:                         #f2777a
URxvt*color10:                        #99cc99
URxvt*color11:                        #ffcc66
URxvt*color12:                        #6699cc
URxvt*color13:                        #cc99cc
URxvt*color14:                        #66cccc
URxvt*color15:                        #f2f0ec

URxvt*color16:                        #f99157
URxvt*color17:                        #d27b53
URxvt*color18:                        #393939
URxvt*color19:                        #515151
URxvt*color20:                        #a09f93
URxvt*color21:                        #e8e6df

