@import "/home/elijahdl/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "System San Francisco Display", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @color0;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: @color7;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @color7;
}

#workspaces button.focused {
    background: @color5;
    color: @color0;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#mode {
    background: @color0;
    color: @color7;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor, #custom-yay {
    padding: 0 5px;
    margin: 0 5px;
    color: @color7;
}

#clock {
    color: @color7;
}

#battery {
    color: @color7;
}

@keyframes chargeblink {
    to {
	    color:@color7;
    }
}

#battery.charging {
    color: #3cf53c;
    animation-name: chargeblink;
    animation-duration: 5.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes batblink {
    to {
        color: @color7;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: batblink;
    animation-duration: 5.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @color7;
}

#memory {
    color: @color7;
}

#backlight {
    color: @color7;
}

#network {
    color: @color7;
}

#network.disconnected {
    background: @color5;
    color: @color0;
}

#pulseaudio {
    color: @color7;
}

#pulseaudio.muted {
    background: @color5;
    color: @color0;
}

#custom-spotify {
    color: @color7;
}

#temperature {
    color: @color7;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
}

#idle_inhibitor {
    color: @color7;
}

#idle_inhibitor.activated {
    background-color: @color5;
    color: @color0;
}
